@import '../common/theme';

.footer {
  background-color: $main-dark-color;
  color: white;
  min-height: 150px;

  display: flex;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
}
