.main {
  height: 100%;
}

.left {
  background-color: #ff7043;
  transition: transform 1s ease-in-out;

  &.moving {
    transform: translateX(-1000px);
  }
}

.right {
  background-color: #ffca28;
  transition: transform 1s ease-in-out;

  &.moving {
    transform: translateX(1000px);
  }
}

.moving { }

.backgroundMain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
