@import '../common/theme';

.main {
  height: 100%;
}

.left {
  border-right: 1px solid black;
  border-left: 1px solid black;

  transition: transform 1s ease-in-out;

  background-image: url(/static/img/door_pattern.jpg);

  &.moving {
    transform: translateX(-1500px);
  }
}

.right {
  border-left: 1px solid black;
  border-right: 1px solid black;

  transition: transform 1s ease-in-out;

  background-image: url(/static/img/door_pattern.jpg);

  &.moving {
    transform: translateX(1500px);
  }
}

.moving { }

.backgroundMain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
