.main {
  height: 100%;
}

.left {
  background-color: #ff8a65; // 255, 112, 67
  transition: transform 1s ease-in-out;

  &.moving {
    transform: translateX(-1500px);
  }
}

.right {
  background-color: #ffd54f;
  transition: transform 1s ease-in-out;

  &.moving {
    transform: translateX(1500px);
  }
}

.moving { }

.backgroundMain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
